
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100%;
}

/****************** Scroll bar styling **********************/
html::-webkit-scrollbar {
  width: 1.5rem;
}
html::-webkit-scrollbar-track {
  background: #333;
}*
html::-webkit-scrollbar-thumb {
  background: linear-gradient(#0fc4f1, #12b3f3e0);
}
/********************* End Scroll bar styling  ******************************/

body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  height: inherit;
}

/******************** nav bar styling  **********************************/
.navbar {
  width: 59%;
  height: 10%;
  margin: 0 auto;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  background-color: #12b3f3e0;
}

.navbar a {
  font-size: 2rem;
  color: white;
}

.navbar a.active,
.navbar a:hover {
  color: darkslategrey;
}

.navbar .logo {
  color: white;
  height: 50px;
  padding-top: 8px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-top: 0;
  float: left;
}

.navbar .logo i{
  font-size: 2.5rem;
}

.navbar .active{
  height: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-right: 10%;
  margin-top: 0;
  float: right;
  font-family: 'milky nice';
  font-weight: bold;
}
/***********************  nav bar styling end  ************************************/
/************** login box styling *****************/

.loginbox {
  width: 30rem;
  height: 40rem;
  background: #000;
  color: #fff;
  position: absolute;
  transform: translate(180%, 40%);
  box-sizing: border-box;
  padding: 70px 30px;
}
/********************** user type *******************/
.userType{
  float: right;
  color: white;
  position: absolute;
  transform: translate(120%,0%);
  background-color: #12b3f3e0;
  padding-top: 1%;
  padding-bottom: 1%;
}
#userTypeLogo {
  font-size: 3rem;
}
#userTypeLogo:hover {
  color: darkslategray;
}
.userType ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}
.userType ul li{
  padding-right: 100px;
}
/**************** user type end *************************/
.user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

* {
  font-size: 14px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: #ffc107;
}
