* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: url(../img/studentBackground.jpg);*/
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: sans-serif;
  color: black;
}

/******** HEADER ********/
.header {
  color: whitesmoke;
  background-color: maroon;
  height: 150;
}

.header h1 {
  height: 45;
  width: 400;
  /*margin-left: 500;*/
}

.header h2 {
  height: 45;
  width: 400;
  margin-left: 50;
}

.top-text {
  width: 400;
  margin-left: 500;
}

.logout {
  width: 50px;
  margin: 30;
  margin-left: 60vh;
  margin-top: 50;
}

/********** HEADER END *************/
.bg {
  background: url(../img/studentBackground1.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-color: blueviolet;
}

.welcome_part {
  padding: 20;
  height: 150;
  font-size: 16px;
  color: white;
  margin-left: 30;
}

.application-details {
  margin-bottom: 20;
  margin-left: 30;
}

.application-details h3 {
  width: 300;
  color: white;
}

/********** FORM **************/
form {
  margin-left: 20;
  color: whitesmoke;
}
.appli label {
  color: white;
  background-color: black;
}
.selecti {
  padding-top: 25;
  color: black;
}

.add_application {
  color: black;
}

/***** TABLE  **********/

table {
  border-collapse: collapse;
  margin: 45vh;
}

td,
th {
  padding: 5px;
  width: 200px;
  outline: none;
  border: 1px solid #ccc;
}

th {
  background: #333;
  color: white;
}

tr:nth-child(odd) {
  background: #ddd;
}

tr:nth-child(even) {
  background: #ccc;
}

div {
  outline: none;
}

.activate {
  background: white;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 2px;
}

.processing {
  background: url("../img/loader.gif") no-repeat right;
  background-size: contain;
}
