* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html{
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  width:inherit;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}

/******** HEADER ********/
.header {
  color: whitesmoke;
  background-color: #12b3f3e0;
  height: auto;
  display: flex;
  align-items: center;
  z-index: 999;
  padding:1%;
  width: inherit;
}

.top-text {
  margin:0 auto;
  float: left;
}
.header .top-text .text-top1{
  font-size: xx-large;
}
.header .top-text .text-top2{
  font-size: xx-large;
}

.logout {
  width: auto;
  float: right;
}

.logout input{
  margin: 0.5em;
}
.change_p {
  margin: 0.5em;
  width: auto;
  float: right;
}

/********** HEADER END *************/
.bg {
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(8px);
  height: 100%;
	width: 80%;
  margin: 0 auto;
}
.welcome_part {
  padding: 1%;
  width: 100%;
  height: auto;
  font-size: 1.5em;
  color: white;
  margin-left: 1%;
}

.application-details {
  padding: 1%;
  width: 100%;
  height: auto;
  font-size: 1.5em;
  color: white;
  margin-left: 1%;
}

/********** FORM **************/
.main-form {
  color: whitesmoke;
  width: 100%;
  margin: 0 2%;
}
.form-row{
  display: flex;
}
.form-group label{
  color: white;
  font-size: 1.2em;
}
.university{
  color: white;
  width: 45%;
  padding-right: 1%;
}
.country{
  color: white;
  width: 20%;
}
.faculty{
  color: white;
  width: 40%;
  padding-right: 1%;
}
.application{
  color: white;
  width: 30%;
}

/***** TABLE  **********/

table {
  border-collapse: collapse;
  margin: 2%;
}

td,
th {
  padding: 1%;
  width: 30%;
  outline: none;
  border: 1px solid #ccc;
}

th {
  background: #333;
  color: white;
}

tr:nth-child(odd) {
  background: #ddd;
}

tr:nth-child(even) {
  background: #ccc;
}

div {
  outline: none;
}

.activate {
  background: white;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5%;
}

.processing {
  background: url("../img/loader.gif") no-repeat right;
  background-size: contain;
}


