:root {
  --gradient: linear-gradient(90deg, #0fc4f1, #12b3f3e0);
}
.header {
  color: whitesmoke;
  background-color: rgb(92, 212, 212);
  height: 170;
}

.header h1 {
  height: 45;
  width: 400;
}

.header h2 {
  height: 45;
  width: 400;
  margin-left: 50;
}

.top-text {
  width: 400;
  margin-left: 500;
}

.logout {
  width: 50px;
  margin-left: 15%;
  margin-top: 30;
}

.change_p {
  margin-top: 20;
}

.bg {
  background: url(../img/studentBackground1.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-color: blueviolet;
}
.welcome_part {
  padding: 20;
  height: 150;
  font-size: 16px;
  color: white;
  margin-left: 30;
}
.application-details {
  margin-top: -60;
  margin-bottom: 0;
  margin-left: 10;
  color: white;
}
form {
  margin-left: 50;
  color: whitesmoke;
}
.Appli-form {
  padding-top: 1vh;
  margin-bottom: 0;
  margin-top: -1%;
  padding-left: 20;
  color: white;
}
.applied {
  margin-top: -16.5%;
  margin-bottom: 0;
  margin-right: 300;
  color: white;
}
::placeholder_value {
  color: black;
}
.Letter {
  color: white;
  /* padding-left: 30;
  padding-top: 10vh; */
  margin-left: 1.5%;
  margin-top: -10;
}
.olContainer {
  margin-left: 1.5%;
  /* margin-top: -10; */
}
.olContainer table {
  border-collapse: collapse;
}
.olContainer td,
th {
  padding: 5px;
  width: 200px;
  outline: none;
  border: 1px solid #ccc;
}

.olContainer th {
  background: #333;
  color: white;
}

.olContainer tr:nth-child(odd) {
  background: #ddd;
}

.olContainer tr:nth-child(even) {
  background: #ccc;
}

table {
  border-collapse: collapse;
}
td,
th {
  padding: 5px;
  width: 200px;
  outline: none;
  border: 1px solid #ccc;
}

th {
  background: #333;
  color: white;
}

tr:nth-child(odd) {
  background: #ddd;
}

tr:nth-child(even) {
  background: #ccc;
}

.generateLetter {
  margin-top: 3%;
}
.generateLetter h2 {
  color: white;
}
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
*::selection {
  background: #12b3f3e0;
  color: fffff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.5rem;
}
html::-webkit-scrollbar-track {
  background: #333;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(#0fc4f1, #12b3f3e0);
}
body {
  margin: 0;
  padding: 0;
  background: url(..img/photo-1590579491624-f98f36d4c763.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: sans-serif;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1.5rem 7%;
  background: var(--gradient);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

header .logo {
  color: white;
  font-size: 2.5rem;
  padding-right: 525px;
}
header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin: 0 1rem;
  display: inline;
  padding-right: 475px;
}

header .navbar ul li a {
  font-size: 2rem;
  color: white;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: darkslategrey;
}

header #login {
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

header #login:hover {
  color: darkslategray;
}
header #menu {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  display: none;
}

/* media queries */

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  header #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 6.4rem;
    left: 0;
    width: 100%;
    background: #0fc4f1;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }
  header .navbar ul li {
    margin: 1.5 rem 0;
    text-align: center;
    width: 100%;
  }
  header .navbar ul li a {
    font-size: 2.5rem;
    display: block;
  }

  header .navbar ul li a.active,
  header .navbar ul li a.hover {
    color: #0fc4f1;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    top: 6.4rem;
  }
}
