* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  width: inherit;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}

/******** HEADER ********/
.header {
  color: whitesmoke;
  background-color: #12b3f3e0;
  height: auto;
  display: flex;
  align-items: center;
  z-index: 999;
  padding: 1%;
  width: inherit;
}

.top-text {
  margin: 0 auto;
  float: left;
}
.header .top-text .text-top1 {
  font-size: xx-large;
}
.header .top-text .text-top2 {
  font-size: xx-large;
}

.logout {
  width: auto;
  float: right;
}

.logout input {
  margin: 0.5em;
}
.change_p {
  margin: 0.5em;
  width: auto;
  float: right;
}

/********** HEADER END *************/
.bg {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.welcome_part {
  padding: 1%;
  width: 100%;
  height: auto;
  font-size: 1.5em;
  color: white;
  margin-left: 1%;
}

.application-details {
  padding: 1%;
  width: 100%;
  height: auto;
  font-size: 1.5em;
  color: white;
  margin-left: 1%;
}
/********************** FORM ****************************/
form {
  color: whitesmoke;
}
/********* apply form ************/
.Appli-form {
  margin-bottom: 0;
  margin-top: 1%;
  padding-left: 2%;
  color: white;
  width: 50%;
  float: left;
}
.form-row1 {
  width: 80%;
  padding-top: 1%;
}
/******* applied *******/
.applied {
  color: white;
  margin-bottom: 0;
  margin-top: 1%;
  padding-left: 2%;
  float: left;
}
.applied .applied-text {
  font-size: 1.5em;
}

.submitB {
  margin-top: 3%;
}

::placeholder_value {
  color: black;
}
.form-row2 {
  padding-top: 1%;
}

/***************** generate letter ******************/
.generateLetter {
  width: 30%;
  padding-left: 2%;
  /* padding-top: 2%; */
}
.generate-label {
  color: white;
  font-size: 1.5em;
  /* margin-top: 2%; */
}
.generateLetter input {
  margin-top: 2%;
}
/**********************/
.Letter {
  color: white;
  margin-left: 1.5%;
  margin-top: 1%;
}
.Letter h2 {
  width: 70%;
}
.olContainer {
  margin-left: 1.5%;
}
.olContainer li {
  list-style: none;
}
.olContainer table {
  border-collapse: collapse;
}
.olContainer td,
th {
  padding: 2%;
  width: 7%;
  outline: none;
  border: 1px solid #ccc;
}

.olContainer th {
  background: #333;
  color: white;
}

.olContainer tr:nth-child(odd) {
  background: #ddd;
}

.olContainer tr:nth-child(even) {
  background: #ccc;
}
/**************** Table ************************/
table {
  border-collapse: collapse;
}
td,
th {
  padding: 2%;
  width: 7%;
  outline: none;
  border: 1px solid #ccc;
}

th {
  background: #333;
  color: white;
}

tr:nth-child(odd) {
  background: #ddd;
}

tr:nth-child(even) {
  background: #ccc;
}

.generateLetter {
  margin-top: 3%;
}
.generateLetter h2 {
  color: white;
  margin-top: 1%;
}
