* {
  margin: 0;
  padding: 0;
}

body {
  text-align: justify;
  background-color: gainsboro;
}

.inputfield{
	margin: 0px 0px 10px 0px;
}
.container {
  background-color: #f0fff0;
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  margin-bottom: 10px
  padding: 0% 5% 0% 10%;
}

#saveindividualrecord{
	background-color: #f5f5f5;
	float:left;
	margin-top: 0%;
	padding-right: 5%;
	padding-left: 5%
}
#searchrecord {
	 background-color: #fafad2;
	 float:left;
	 margin-top: 0%;
	 padding-right: 5%;
	padding-left: 5%
}

#savefromexcel {
	float: right;
	margin-right: 5%;
	margin-top: 10%;
	margin-bottom: 7%;
	width: 50%;
}

#savefromexcel [type = "number"]{
	width: 110px;
}

.users-selector {
	margin-bottom: 10px;
	/*background-color: #0011ff;*/
}

.btn-m {
	margin: 10px;
}

.btn-del {
	background-color: #b22222;
	border: none;
}

.btn-del:hover {
	background-color: #8b0000;
}

.btn-file {
	background-color: #f0cc24;
	border: none;
}

.btn-file:hover {
	background-color: #ebc61a;
}
