/***** TABLE  **********/

body {
  background-color: lightslategray;
}
table {
  border-collapse: collapse;
  margin-left: 2%;
}

table td,
th {
  padding: 5px;
  width: 200px;
  outline: none;
  border: 1px solid #ccc;
}

table th {
  background: #333;
  color: white;
}

table tr:nth-child(odd) {
  background: #ddd;
}

table tr:nth-child(even) {
  background: #ccc;
}
